
<div class="screen row container-fluid">
        <div class="col-sm-3"></div>

        <div class="col-sm-6 dashboardblock" >

        <h2 class="page-header">My Profile:</h2>
        <ul class="list-group">
          <li class="list-group-item"><span class="	fa fa-user-secret">&nbsp; &nbsp;</span><b>Username:</b> {{ username }} {{ vendorname }}</li>
          <li class="list-group-item"><span class="title fa fa-envelope">&nbsp; &nbsp;</span><b>Email:</b> {{ email }} </li>
        </ul>

        </div>

         <div class="col-sm-3"></div>
</div>
